.venv/
__pycache__/
*.pyc
.env
.env.*
.vscode/*
!.vscode/extensions.json
!.vscode/tasks.json
!.vscode/launch.json
storage/xml/*
storage/certs/*
storage/upload/*
storage/empresas/*
storage/relatorios/*
storage/backup/*
logs/*
*.xml
xmls/*
certs/*
uploads/*
relatorios/*
backups/*